.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal__content {
  position: relative;
  width: 496px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 28px 28px 36px;
  font-family: "CabinetGrotesk-Bold";
  font-size: 16px;
  color: #000;
}

.modal__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 700;
  top: 221px;
  left: 500px;
}

.modal__title {
  margin: 0;
  width: fit-content;
  font-size: 16px;
  line-height: 1.25;
}

.modal__close-button {
  background-image: url("../src/assets/modal-close-image.svg");
  position: absolute;
  top: 20px;
  right: 28px;
  width: 14px;
  height: 14px;
  border-width: 2px;
  opacity: 0.3;
}

.modal__close-button:hover {
  opacity: 1;
  transition: 0.3s;
}

.modal__form {
  display: flex;
  flex-direction: column;
  top: 265px;
}

.modal_label {
  width: fit-content;
  font-size: 16px;
  line-height: 1.25;
}

.modal__input {
  display: block;
  width: 440px;
  height: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: black;
  border-bottom-width: 1px;
  font-size: 16px;
  line-height: 1.25;
  color: #000;
  opacity: 0.3;
  top: 341px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__radio-input {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  gap: 8px;
}
