.toggle-switch {
  position: relative;
  background-color: white;
  max-width: 56px;
  width: 100%;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  position: absolute;
  left: 0;
  background-color: black;
  width: 28px;
  height: 28px;
  color: white;
  border-radius: 50%;
  transition: all 0.6s;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__text {
  position: absolute;
  top: 5px;
  color: #7e7e7e;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__text_F {
  color: white;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: white;
}
