.page {
  background-color: #f3f3f3;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1360px;
  height: fit-content;
  margin-top: 32px;
  margin-left: 40px;
  padding: 0 20px;
  display: flex; /* Add flexbox */
  flex-direction: column; /* Stack children */
  gap: 32px; /* Space between <Header /> and <Main /> */
  font-family: "Cabinet-Grotesk-Bold", serif, sans-serif;
  font-weight: 700;
  color: black;
}
