.page {
  background-color: #f3f3f3;
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1360px;
  height: auto;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  color: black;
}
