.cards {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  padding-top: 40px;
}

.cards__title {
  width: 100%;
  height: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  text-align: left;
  margin: 0;
  padding-bottom: 40px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  grid-template-rows: repeat(auto-fit, 323px);
  grid-gap: 20px;
  padding: 0;
  gap: 21px;
  margin-bottom: 100px;
}
