.header {
  display: flex;
  flex: row;
  align-items: center;
  padding: 0 20px 0 32px;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__date-location {
  width: fit-content;
  top: 11px;
  left: 113px;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}

.header__add-clothes-button {
  width: 116px;
  height: 24px;
  margin: 0 20px 0 auto;
  border: none;
}

.header__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__username {
  width: 157px;
  height: 25px;
  margin: 0;
  font-size: 20px;
  line-height: 1;
}

.header__avatar {
  width: 40px;
  border: 1px;
}
