.modal__image {
  background: none;
  width: 498px;
  max-height: 498px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  gap: 0;
}

.modal__image-footer {
  padding: 20px 0 0;
  background-color: #fff;
  width: 498px;
  height: 150px;
  text-align: left;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin: 0;
}

.modal__caption {
  margin-left: 20px;
  color: #000;
  line-height: 1.25;
}

.modal__weather {
  margin-left: 20px;
  color: #000;
  line-height: 1.25;
}

.modal__delete-item-button {
  background-color: transparent;
  border: none;
  width: fit-content;
  height: 24px;
  font-size: 20px;
  color: #ff4d00;
  text-align: center;  
}
