/*modalcontainer is in modalwithform file*/

.modal__image {
  background: none;
  width: 496px;
  max-height: 496px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  gap: 0;
}

.modal__image-footer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 12px;
  background-color: #fff;
  width: 496px;
  min-height: 150px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.modal__caption {
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  margin: 0;
  color: #000;
  line-height: 1.25;
}

.modal__delete-item-button {
  order: 2;
  margin-left: auto;
  background-color: transparent;
  border: none;
  height: 24px;
  font-size: 20px;
  color: #ff4d00;
}

.modal__weather {
  margin: 0;
  order: 3;
  flex-basis: 100%;
  color: #000;
  line-height: 1.25;
}
