.footer__container {
  box-sizing: border-box;
  max-width: 1358px;
  border-width: 0;
  top: 778px;
  left: 40px;
  padding: 0;
  margin-bottom: 40px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.footer__author {
  color: black;
  line-height: 1.25;
}

.footer__year {
  line-height: 1.25;
  color: black;
}
